.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: white;
  cursor: pointer;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Danger {
  background-color: #f0080885;
  color: rgb(73, 73, 144);
  font-size: 15px;
}

.Danger:hover:active {
  background-color: #d72a2acf !important;
}

.Danger:hover {
  background-color: #e00f04d7;
  color: #ffffff;
}

.Green {
  background-color: #08f04685;
  color: white;
  font-size: 15px;
}

.Green:hover:active {
  background-color: #2ad738df !important;
}

.Green:hover {
  background-color: #08e004d7;
  color: #ffffff;
}

.Gray {
  background-color: #6666669d;
  color: white;
  font-size: 15px;
}

.Gray:hover:active {
  background-color: #636763df !important;
}

.Gray:hover {
  background-color: #5f5f5fd7;
  color: #ffffff;
}

.Edit {
  background-color: #4ec0cf9d;
  color: white;
  font-size: 15px;
}

.Edit:hover:active {
  background-color: #1758c0df !important;
}

.Edit:hover {
  background-color: #0cbce4d7;
  color: #ffffff;
}
