  .Card {
    background-color: transparent !important;
    border: solid white;
    border-radius: 10%;
    margin-bottom: 10px;
    width: 50%;
  }

  .FontModal {
    font-family: 'Quicksand', sans-serif;
  }

  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
  }