.App {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    background: rgb(201,198,255);
    background: linear-gradient(90deg, rgba(201,198,255,1) 0%,
    rgba(142,204,255,1) 51%, rgba(226,186,255,1) 100%);
}

.Main {
  padding-top: 80px;
}

* {
    box-sizing: border-box;
  }
  
  a {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #6483e0;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #ffffff;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #6483e0;
  }

  /* scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #47e3ff36;
}
*::-webkit-scrollbar-thumb {
  background: #c365dd91;
}
*::-webkit-scrollbar-thumb:hover {
  background: #b45de367;
}